body,html {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(36, 35, 35);
}
.url-shortener-container {
  max-width: 70%;
  max-height: fit-content;
  margin: auto;
  padding: 50px;
  background: rgb(161, 160, 208);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  place-content: center;
}

.url-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 1rem;
}
.url-inputhover {
  background-color: 1px solid beige;
}

.shorten-btn {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  background: #016de0;
  color: #140a09;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}
.shorten-btn:hover {
  background: #0056b3;
}

.error-message {
  color: rgb(255, 0, 0);
  margin-bottom: 12px;
}

.short-url-section {
  margin-top: 12px;
}

.info-text {
  margin-top: 24px;
  color: black;
}
